 ion-item {
    --ion-safe-area-top: 0;
    --ion-safe-area-right: 0;
  }

  .list-md {
      padding-top: 0px;
  }

  .img-description {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 20px;
  }