<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src='/assets/images/whiteblack.jpg'> </ion-img>
<ion-text>
  <h4> Societies</h4>
</ion-text>
<ion-text>
  <p>
    When you first attend college you will be surprised to learn that it is not all about beating the well-worn track from lecture hall to library and vice versa. At present there is a vast array of societies on offer which encompass so much more. Currently there are in excess of 75 societies which range from volunteering, performing arts, course-related, campaigning & political, religious, sign language, student media, plus so much more. Societies are run by the students for the students and supported by the staff of the society’s office through advice, administration and finance. We endeavour to develop the “community” on campus through the provision of activities, events, entertainment, and development opportunities.

 

There is also over 35 extra annual “special events” both big and small! The last number of years has seen a huge increase in society’s membership and the number of events on and off campus. Societies are now an integral part of college life and a huge retention tool in keeping students young and mature, national and non national in college. They provide a huge range of activities for all those who want to get involved, a selection of these include:

 

    volunteering opportunities
    training and leadership opportunities
    trips away
    student lead media/newspaper
    debating
    conferences
    guest speakers
    social nights
    drama festival
    dance contests
    intervarsities
    exhibitions

 

Societies give students the opportunity to experience and organise many different cultural and social events and activities irrespective of what course they have chosen.

It is easy to “GET INVOLVED”; all you have to do is sign up during the Clubs & Societies Festival, held at the start of the academic year, or anytime during the year by filling out a membership form, it will cost anything from €2 to €5, so come prepared. This membership money will go straight into the society you join, so make sure you get your money’s worth by getting involved.

 

 

Alternatively, you can start up a brand new society; all you need to do is follow the following three steps:

1. Have a good idea, and register for a stall on clubs and socs day

2. Sign up at least thirty interested parties.

3. Following this you will fill in a budget form, accompanied by completed membership forms, membership fees, aims and objectives of the society.
  </p>
</ion-text>
</ion-content>
