<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img src='/assets/images/about.png'> </ion-img>
<ion-text>
  <h4> Societies</h4>
</ion-text>
<ion-text>
  <p>
      TU Dublin Societies Office was established in January 2000. <br>

      The Societies Office is an integral part of TU Dublin Campus Life.  
      Societies are run by students for students supported by professional staff.  
      The service is responsible for the development and support of 4 keys areas: 70 Societies, Student Media Development, Student Volunteering Development and Student Training & Leadership Development.
  </p>
</ion-text>
</ion-content>
