<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="all">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>All</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="food/1">
      <ion-icon name="pizza"></ion-icon>
      <ion-label>Food</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="night/2">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Night</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="shopping/3">
      <ion-icon name="contacts"></ion-icon>
      <ion-label>Shopping</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>