<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/tabs/all"></ion-back-button>
        </ion-buttons>
    <ion-title>{{currentDiscount.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
<ion-img [src]="currentDiscount.imageUrl"> </ion-img>
</div>
<ion-text>
  <h4> {{currentDiscount.name}} </h4>
</ion-text>
<ion-item detail="false" no-padding mode='md'>
  <ion-icon item-start name="pin"></ion-icon>
  <p> {{currentDiscount.location}} </p>
</ion-item>

<ion-text>
  <p>
    {{currentDiscount.details}}
  </p>
</ion-text>
</ion-content>
