<RadSideDrawer drawerTransition="PushTransition">

    <GridLayout tkDrawerContent rows="auto, *" class="sidedrawer sidedrawer-left">
        <StackLayout class="sidedrawer-header">
            <Image src="https://media.licdn.com/dms/image/C510BAQGA83GxGiUWCA/company-logo_200_200/0?e=2159024400&v=beta&t=T5oQHN3JjzOCRdI5OKaoGRNQsAcLfH8K2qFT2UILpCQ"
                class="sidedrawer-avatar"></Image>
            <Label class="sidedrawer-header-text var" text="Filters"></Label>
        </StackLayout>

        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    title="Home" tap="onNavigationItemTap">
                    <Label row="0" col="0" text="&#xf007;" class="fa sidedrawer-icon"></Label>
                    <Label row="0" col="1" text="Food" class="m-l-20 sidedrawer-item"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    title="Friends" tap="onNavigationItemTap">
                    <Label row="0" col="0" text="&#xf007;" class="fa sidedrawer-icon"></Label>
                    <Label row="0" col="1" text="Clubs" class="m-l-20 sidedrawer-item"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    title="To-Do List" tap="onNavigationItemTap">
                    <Label row="0" col="0" text="&#xf0ca;" class="fa sidedrawer-icon"></Label>
                    <Label row="0" col="1" text="Coffee" class="m-l-20 sidedrawer-item"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item"
                    title="Settings" tap="onNavigationItemTap">
                    <Label row="0" col="0" text="&#xf013;" class="fa sidedrawer-icon"></Label>
                    <Label row="0" col="1" text="Shops" class="m-l-20 sidedrawer-item"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

            </StackLayout>
        </ScrollView>
    </GridLayout>

    <page-router-outlet tkMainContent class="page page-content"></page-router-outlet>
</RadSideDrawer>