ion-content {
  --ion-background-color:#dfdfdf;
}

#img {
  background-image: url('/assets/socs-blue.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin: auto;
  width: 90%;
  height: 30%;
}

ion-card {
  background-color: #ffffff;
}